form {
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  margin:auto;
  min-width: 500px;
  max-width: 600px;
  align-items: center;
}
.form-section-container {
  display: flex;
  flex-direction: row;
  align-items: strech;
  margin: 10px 0;
}
.form-section-container input {
  width: 33%;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5em;
  background-color: lightgreen;
  color: black;
}
select {
  width: 75%;
}
.submit {
  width: 100%;
  height: 70px;
  border-radius: 30px;
  font-size: 3em;
  font-weight: bold;
  background-color: green;
  color: white;
  text-transform: uppercase;
}
